.hero-page {
	padding: 50px 0;

	a {
		text-decoration: underline;

		&:hover {
			text-decoration: none;
		}
	}

	&__title {
		margin-bottom: 30px;
	}

	&--404 {
		text-align: center;

		.row {
			justify-content: center;
		}
	}

	@include breakpoint(md) {
		padding: 160px 0;

		&__title {
			margin-bottom: 45px;
		}
	}
}