@import 'core/variables';
@import 'core/grid';
@import 'core/fonts';
@import 'core/typography';

#tinymce {
	padding: 1rem !important;

	p:first-child {
		margin-top: 0 !important;
	}

	p:last-child {
		margin-bottom: 0 !important;
	}
}

.mce-content-body {
	@extend .rte;
}