<div class="our-story-content">
    <div class="container">
        <div class="row">
            <div class="columns xs-12 md-4 lg-3">
                {{post.meta('content').left_column}}
            </div>
            <div class="columns xs-12 md-6">
                {{post.meta('content').right_column}}
            </div>
        </div>
    </div>
</div>
