<div class="page-content">
    <div class="container">
        <div class="row">
            <div class="columns xs-12 md-8">
                <div class="rte">
                    {{post.content}}
                </div>
            </div>
        </div>
    </div>
</div>
