<div class="project-intro">
    <div class="container">
        <div class="row">
            <div class="columns xs-12 md-6">
                <h1 class="project-intro__title heading-2">{{post.title}}</h1>
                <h4 class="project-intro__client heading-4">
                    <span class="color-pink-purple">Client:</span>
                    {{post.client_name}}
                </h4>
            </div>
            <div class="columns xs-12 md-6">
                <div class="rte">
                    {{post.content}}
                </div>
            </div>
        </div>
    </div>
</div>
