{% set testimonial = post.meta('testimonial') %}

{% if testimonial.content %}
    <div class="testimonial">
        <div class="container full-width">
            <div class="testimonial__bg-container">
                <div class="container">
                    <div class="row align-center">
                        <div class="columns xs-12 md-10 lg-8">
                            <p class="lead testimonial__content">
                                &ldquo;{{testimonial.content}}&rdquo;
                            </p>
                            {% if testimonial.author %}
                                <h4 class="testimonial__author heading-4">
                                    {{testimonial.author}}
                                </h4>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endif %}
