<div class="what-we-believe">
	<div class="container">
		<div class="what-we-believe__intro">
			<h4 class="heading-4">It's What We Believe</h4>
		</div>
		<div class="what-we-believe__carousel" id="what-we-believe-carousel" data-pillars='{{function('json_encode', pillars)}}'>
		</div>
	</div>
</div>