{% if social_links.facebook %}
    <a href="{{social_links.facebook}}">
        <i class="icon icon-facebook"></i>
    </a>
{% endif %}
{% if social_links.linkedin %}
    <a href="{{social_links.linkedin}}">
        <i class="icon icon-linkedin"></i>
    </a>
{% endif %}
{% if social_links.twitter %}
    <a href="{{social_links.twitter}}">
        <i class="icon icon-twitter"></i>
    </a>
{% endif %}
{% if social_links.vimeo %}
    <a href="{{social_links.vimeo}}">
        <i class="icon icon-vimeo"></i>
    </a>
{% endif %}
