<div class="pillar">
    <div class="pillar__icon">
        <img src="{{Image(pillar.icon)}}" alt="">
    </div>
    <div class="pillar__content">
        <h4 class="pillar__title heading-4">
            {{pillar.title}}
        </h4>
        <p class="pillar__copy body">
            {{pillar.short_description}}
        </p>
    </div>
</div>
