<a href="{{project.link}}" class="project-tile">
    <div class="project-tile__inner">
        <div class="project-tile__thumb" style="background-image: url({{Image(project.thumbnail_image)}})"></div>
        <div class="project-tile__content">
            <h2 class="project-tile__title heading-2">{{project.title}}</h2>
            <h4 class="project-tile__client heading-4">{{project.client_name}}</h4>
        </div>
    </div>
</a>
