<div class="staff-member">
	<img class="staff-member__image" src="{{Image(person.image)}}" alt="">
	<h4 class="heading-4 staff-member__name">{{person.name}}</h4>
	<p class="staff-member__title"><strong>{{person.title}}</strong></p>
	<p class="staff-member__blurb">{{person.blurb}}</p>
</div>