html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

img {
    max-width: 100%;
}

body {
    background-color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    --vh: 1vh;
}

.icon {
    display: inline-block;
}

.hidden {
    display: none !important;
}