.custom-carousel-control {

	position: relative;

	&__items {
		position: relative;
		display: flex;
		justify-content: center;
		border: 3px solid $color_pink;
		border-radius: 50px;
		z-index: 1;
	}

	&__highlight {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: $color_pink;
		border-radius: 50px;
		transition: 250ms ease all;
	}

	&__button {
		cursor: pointer;
		width: 100%;
		border: 0;
		background-color: transparent;
		padding: 15px;
		transition: 100ms ease all;
		border-radius: 500px;

		&:active {
			color: black;
		}

		&:focus {
			outline: none;

			&:not(.active):not(:active) {
				background-color: hsl(0, 0, 90%);
				// box-shadow: 0 0 0 3px $color_pink;
				// outline: 1px solid $color_pink;
			}
		}

		&.active {
			// background-color: $color_pink;
			// border-radius: 50px;
			color: white;
		}
	}

}